<div class="calender-container">
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
    <div class="header-container">Event Calender</div>
  </div>
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
      <!-- <div class="event-form"> -->
          <form class="event-form" [formGroup]="eventForm" novalidate (ngSubmit)="addEvent()">
            <div class="event-name">
              <div class="field-container">
                <label>Event Name:</label>
              </div>
              <div class="field-container">
                <input type="text" formControlName="eventName" maxlength="8">
              </div>
            </div>
            <div class="event-start-time">
              <div class="field-container">
                <label>Start Time:</label>
              </div>
              <div class="field-container">
                <select formControlName="eventStartTime">
                  <option *ngFor="let hour of hoursList" [value]="hour.value"> {{hour.label}}</option>
                </select>
              </div>
            </div>
            <div class="event-end-time">
              <div class="field-container">
                <label>End Time:</label>
              </div>
              <div class="field-container">
                <select formControlName="eventEndTime">
                  <option *ngFor="let hour of hoursList" [value]="hour.value"> {{hour.label}}</option>
                </select>
              </div>
            </div>
            <div class="event-btn-container">
              <button type="submit" [disabled]="!isFormValid()">Add Event</button>
            </div>
          </form>
        <!-- </div> -->
    </div>
    
  <div class="container" fxLayout fxLayout="column" fxLayoutGap.xs="0" fxLayoutAlign="center stretch">
    <div class="event-container">
      <div fxFlex="5%">
        <div class="time-bar">
          <div class="hours-slot" *ngFor="let hour of hoursList.slice().reverse();"><span>{{hour.label}}</span></div>
        </div>
      </div>
      <div fxFlex="70%" class="cal-main-box">
        <div class="calender-content">
          <div class="event-box" *ngFor="let event of eventList; let first = first; let last = last" [ngStyle]="setStyle(event)"
            [style.left.px]="event.left" [style.bottom.px]="event.top" [style.height.px]="event.height"
            [style.width.px]="event.width">
            <span>{{event.id}}</span>
          </div>
        </div>
      </div>
      <div fxFlex="20%">
        
      </div>
    </div>
  </div>
</div>