<div class="calender-container">
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
    <div class="header-container">Event Calender</div>
  </div>
  <div class="container" fxLayout fxLayout="column" fxLayoutGap.xs="0" fxLayoutAlign="center stretch">
    <div class="event-container">
      <div fxFlex="5%">
        <div class="time-bar">
          <div class="hours-slot" *ngFor="let hour of hoursList.slice().reverse();"><span>{{hour.label}}</span></div>
        </div>
      </div>
      <div fxFlex="70%" class="cal-main-box">
        <div class="calender-content">
          <div class="event-box" *ngFor="let event of eventList; let first = first; let last = last" [ngStyle]="setStyle(event)"
            [style.left.px]="event.left" [style.bottom.px]="event.top" [style.height.px]="event.height"
            [style.width.px]="event.width">
            <span>{{event.id}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>